$B10: #000000;
$B11: #010101;

$W10: #FFFFFF;
$W11: #E5E5E5;
$W12: #DADADA;
$W13: #CACACA;

$G07: #ffffff1a;
$G08: #b2b2b229;
$G09: #a5a5a51a;
$G10: #23232300;
$G11: #0000001a;
$G12: #23232366;

$N10: #D7FE51;