@import 'src/shared/assets/colors/colors';

/* Shared styles for switch */
@media screen and (min-width: 320px) and (max-width: 1919px) {
  .container .header .SwitchContainer {
    width: 168px;
    height: 40px;

    .background {
      width: 35px;
      height: 16px;
      padding: 12px 24px;
      top: 8px;
      left: 8px;
    }

    .switcher {
      left: calc(100% - 92px);
    }

    .switchLeft, .switchRight {
      width: 37px;
      padding: 12px 24px;
    }
  }
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 599px) {
  @media screen and (max-width: 389px) {
    .container {
      padding: 144px 0 120px 0;
    }
  }

  @media screen and (min-width: 390px) {
    .container {
      padding: 72px 0 48px 0;
    }
  }

  .container {
    .header {
      flex-direction: column;
      gap: 32px;

      .titleContainer {
        gap: 24px;

        .description {
          font-size: 17px;
          letter-spacing: -0.136px;
        }
        .title {
          font-size: 56px;
          letter-spacing: -2.24px;
        }
      }

      .timezone {
        display: none;
      }
    }
  }
}

/* Tablet styles */
@media screen and (min-width: 600px) and (max-width: 1279px) {
  .container {
    padding: 112px 0 72px 0;

    .header {
      flex-direction: column;
      gap: 56px;

      .titleContainer {
        gap: 32px;

        .description {
          font-size: 20px;
          letter-spacing: -0.16px;
        }
        .title {
          font-size: 80px;
          letter-spacing: -3.2px;
        }
      }

      .timezone {
        display: none;
      }
    }
  }
}

/* Desktop styles */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .container {
    padding: 112px 0 112px 0;

    .header {
      flex-direction: row;
      align-items: flex-end;

      .titleContainer {
        gap: 24px;

        .description {
          font-size: 20px;
          letter-spacing: -0.16px;
        }
        .title {
          font-size: 80px;
          letter-spacing: -3.2px;
        }
      }
    }
  }
}

/* Large Desktop styles */
@media screen and (min-width: 1920px) {
  .container {
    padding: 144px 0 144px 0;

    .header {
      flex-direction: row;
      align-items: flex-end;

      .titleContainer {
        gap: 32px;

        .description {
          font-size: 20px;
          letter-spacing: -0.16px;
        }
        .title {
          font-size: 104px;
          line-height: 90%;
          letter-spacing: -5.72px;
        }
      }

      .SwitchContainer {
        width: 183px;
        height: 48px;

        .background {
          width: 45px;
          height: 12px;
          padding: 18px 24px;
        }

        .switcher {
          left: calc(100% - 100px);
        }

        .switchLeft, .switchRight {
          width: 42px;
          padding: 16px 24px;
        }
      }
    }
  }
}

.container {
  display: flex;
  width: 100%;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 112px;
  font-family: 'o9 Sans Regular';

  .header {
    display: flex;
    width: 90%;
    justify-content: space-between;

    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .description {
        color: $B10;
        line-height: 110%;
        text-transform: uppercase;
      }

      .title {
        color: $B11;
        font-weight: 264;
        line-height: 90%;
        text-transform: uppercase;
        font-family: 'o9 Sans Light';
      }
    }

    .SwitchContainer {
      padding: 8px;
      border-radius: 200px;
      background: $G08;
      display: inline-flex;
      cursor: pointer;
      position: relative;

      box-shadow: -71.472px 71.472px 71.472px 0px $G07 inset, 71.472px -71.472px 71.472px 0px $G09 inset;
      backdrop-filter: blur(28px);

      .background {
        position: absolute;
        background-color: $B10;
        transition: left 0.3s ease;
        border-radius: 46px;
      }

      .switchLeft, .switchRight {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 46px;
        height: 16px;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: background-color 0.5s ease, color 0.5s ease;
        background-color: transparent;
        color: $B10;

        &.activeTab {
          color: #FFF;
        }
      }
    }

    .timezone {
      width: 219px;
      color: $B11;
      text-align: right;
      font-size: 17px;
      line-height: 135%;
    }
  }
}