@import 'src/shared/assets/colors/colors';

.container {
  display: flex;
  width: 100%;
  min-width: 100%;
  padding: 112px 0 112px 0;
  flex-direction: column;
  align-items: center;
  gap: 112px;
  font-family: 'o9 Sans Regular';

  .header {
    display: flex;
    align-items: flex-end;
    width: 90%;
    justify-content: space-between;

    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      .description {
        color: $B10;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: -0.16px;
        text-transform: uppercase;
      }

      .title {
        color: $B11;
        font-size: 80px;
        font-weight: 264;
        line-height: 90%;
        letter-spacing: -3.2px;
        text-transform: uppercase;
        font-family: 'o9 Sans Light';
      }
    }

    .SwitchContainer {
      width: 168px;
      height: 40px;
      padding: 8px;
      border-radius: 200px;
      background: $G08;
      display: inline-flex;
      cursor: pointer;
      position: relative;

      box-shadow: -71.472px 71.472px 71.472px 0px $G07 inset, 71.472px -71.472px 71.472px 0px $G09 inset;
      backdrop-filter: blur(28px);

      .background {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 35px;
        height: 16px;
        padding: 12px 24px;
        background-color: $B10;
        transition: left 0.3s ease;
        border-radius: 46px;
      }

      .moveToRight {
        left: calc(100% - 92px);
      }

      .switchLeft, .switchRight {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 46px;
        padding: 12px 24px;
        width: 35px;
        height: 16px;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: background-color 0.5s ease, color 0.5s ease;
        background-color: transparent;
        color: $B10;

        &.activeTab {
          color: #FFF;
        }
      }
    }

    .timezone {
      width: 219px;
      color: $B11;
      text-align: right;
      font-size: 17px;
      line-height: 135%;
    }
  }
}