@import 'src/shared/assets/colors/colors';

.speakersContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: auto;
  font-family: 'o9 Sans Regular';

  .speaker {
    display: flex;
    flex-direction: column;
    width: 120px;

    img {
      width: 120px;
      height: 140px;
      flex-shrink: 0;
    }

    .logo {
      width: 70px;
      height: 54px;
    }

    .name {
      color: $B10;
      font-size: 12px;
      line-height: 110%;
      letter-spacing: -0.24px;
      text-transform: uppercase;
      margin-top: 16px;
      margin-bottom: 12px;
    }

    .position {
      color: $B10;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: -0.24px;
    }
  }
}